{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<p v-trim-ws>
  <resource-visibility visibility="{{ resource.visibility }}"></resource-visibility>
  <span class="h5 font-weight-bold wb-break-word ml-2">{{ resource.title }}</span>
</p>
<p>
  @{{ resource.identifier }}
  <br>
  <small class="text-muted">{% trans %}Persistent ID:{% endtrans %} {{ resource.id }}</small>
</p>
<br>
<div class="mb-3 mt-1">
  {% if resource.description %}
    <markdown-renderer input="{{ resource.description }}"></markdown-renderer>
  {% else %}
    <p>
      <em class="text-muted">{% trans %}No description.{% endtrans %}</em>
    </p>
  {% endif %}
</div>
<hr>

{% include "snippets/resources/creation_info.html" %}
