{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form action="{{ url_for('accounts.login_with_provider', provider=form._provider) }}"
                 :check-dirty="false"
                 ref="oidcForm">
  {{ render_csrf() }}

  <input type="hidden" id="{{ form.oidc_provider.id }}" name="{{ form.oidc_provider.name }}" v-model="oidcProvider">
</submission-form>

{% for oidc_provider in form.oidc_providers %}
  <button type="button"
          class="btn btn-light btn-block text-left pl-4"
          data-provider="{{ oidc_provider['name'] }}"
          @click="submitOIDC">
    {% if oidc_provider["icon"] %}
      <i class="mr-1 text-primary fa-lg {{ oidc_provider['icon'] }}"></i>
    {% endif %}

    {{ oidc_provider["title"] }}
  </button>
{% endfor %}
