{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("templates.view_template", id=template.id),
             title=template.title %}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("templates.export_template", id=template.id, export_type=export_type),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "templates/snippets/back_to_template.html", template=template, tab="overview" %}

  <div class="card">
    <div class="card-body">
      {% if export_type == "json-schema" %}
        <small>
          <i class="fa-solid fa-circle-info"></i>
          {% trans %}
            Note that only the actual content of the template (i.e. the template data) is exported and that the presence
            and order of properties in the generic extra metadata are not enforced. Furthermore, units for numeric
            values are added as an additional keyword to each property.
          {% endtrans %}
        </small>
        <hr class="mt-1">
      {% endif %}

      <resource-export resource-type="template"
                       export-type="{{ export_type }}"
                       endpoint="{{ url_for('api.get_template_export', id=template.id, export_type=export_type) }}"
                       :extras="{{ extras | tojson_escaped }}">
      </resource-export>
    </div>
  </div>
{% endblock %}
