{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="navigation">
  <strong>{% trans %}Navigation{% endtrans %}</strong>
</h4>
<p>
  {% trans records_a_open='<a href="#records"><strong>' | safe,
           collections_a_open='<a href="#collections"><strong>' | safe,
           templates_a_open='<a href="#templates"><strong>' | safe,
           users_a_open='<a href="#users"><strong>' | safe,
           groups_a_open='<a href="#groups"><strong>' | safe,
           a_close="</strong></a>" | safe %}
    After logging in, the menu at the top left of the navigation bar allows access to {{ records_a_open }}Records{{
    a_close }}, {{ collections_a_open }}Collections{{ a_close }}, {{ templates_a_open }}Templates{{ a_close }}, {{
    users_a_open }}Users{{ a_close }} and {{ groups_a_open }}Groups{{ a_close }}. Each navigation item leads to the
    corresponding main page of the respective resource, where existing resources can be searched and, if applicable, new
    resources can be created. Details about each resource type are described in the following sections.
  {% endtrans %}
</p>
<p>
  {% trans users_a_open='<a href="#users"><strong>' | safe,
           settings_a_open='<a href="#settings"><strong>' | safe,
           a_close="</strong></a>" | safe %}
    The first two items at the top right of the navigation bar right also provide quick access to create new resources
    and search for existing ones. The two dropdown menus on the far right can be used to quickly navigate to various
    informational pages and to access the current user's profile page, including their created and deleted resources
    (see also {{ users_a_open }}Users{{ a_close }}). Furthermore, the latter makes it possible to access the {{
    settings_a_open }}Settings{{ a_close }} and to log out.
  {% endtrans %}
</p>
<p>
  {% trans %}
    In addition to the navigation bar, a navigation footer is available on the bottom of all pages, regardless of being
    logged in or not. This footer provides quick navigation to various informational pages and also contains a selection
    for switching the current language.
  {% endtrans %}
</p>
