{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<svg xmlns="http://www.w3.org/2000/svg" width="124.607px" height="40px" viewBox="0 0 124.607 40">
  <g>
    <g>
      <path id="kadi-logo-one" class="kadi-logo" fill="#009682" d="M9.898,19.943c0-0.533,0.042-1.06,0.121-1.573L0.24,16.84C0.083,17.851,0,18.888,0,19.943C0,21,0.083,22.036,0.24,23.05l9.779-1.533C9.939,21.005,9.898,20.479,9.898,19.943z"/>
      <path id="kadi-logo-two" class="kadi-logo" fill="#009682" d="M10.576,23.601l-9.235,3.563c0.756,1.96,1.811,3.771,3.108,5.376l7.702-6.215C11.493,25.511,10.96,24.594,10.576,23.601z"/>
      <path id="kadi-logo-three" class="kadi-logo" fill="#009682" d="M7.46,35.551c1.607,1.298,3.416,2.353,5.375,3.109l3.564-9.236c-0.991-0.384-1.909-0.916-2.722-1.573L7.46,35.551z"/>
      <path id="kadi-logo-four" class="kadi-logo" fill="#009682" d="M20.057,30.103c-0.535,0-1.061-0.043-1.574-0.121l-1.531,9.78C17.963,39.918,19,40,20.057,40c1.056,0,2.091-0.082,3.104-0.238l-1.532-9.78C21.116,30.06,20.592,30.103,20.057,30.103z"/>
      <path id="kadi-logo-six" class="kadi-logo" fill="#009682" d="M12.15,13.564c1.552-1.919,3.786-3.262,6.332-3.657c0.165-0.026,0.331-0.046,0.496-0.063l-0.001-0.002L17.927,0c-0.327,0.034-0.653,0.076-0.975,0.126C11.92,0.908,7.509,3.561,4.449,7.349c-1.297,1.605-2.352,3.415-3.108,5.374l9.235,3.564C10.96,15.293,11.493,14.377,12.15,13.564z"/>
      <path id="kadi-logo-five" class="kadi-logo" fill="#009682" d="M23.161,0.126C22.839,0.076,22.514,0.034,22.187,0l-1.052,9.842v0.002 c0.166,0.018,0.331,0.037,0.494,0.063c4.863,0.755,8.586,4.962,8.586,10.036c0,3.194-1.474,6.043-3.778,7.907 c-0.813,0.657-1.731,1.189-2.724,1.573l3.564,9.236c1.958-0.757,3.77-1.812,5.375-3.109c4.552-3.677,7.461-9.301,7.461-15.607 C40.113,9.923,32.764,1.619,23.161,0.126z"/>
    </g>
    <g>
      <path fill="#FFFFFF" d="M53.661,21.266l-1.907,2.025v5.25h-2.927V11.7h2.927v7.9l1.619-2.001l4.927-5.899h3.54l-6.258,7.461 l6.617,9.38h-3.471L53.661,21.266z"/>
      <path fill="#FFFFFF" d="M70.965,28.541c-0.078-0.146-0.142-0.319-0.193-0.52c-0.049-0.202-0.093-0.418-0.131-0.648 c-0.186,0.192-0.393,0.374-0.62,0.543c-0.227,0.17-0.478,0.318-0.751,0.446c-0.275,0.127-0.572,0.228-0.891,0.301 c-0.321,0.072-0.661,0.108-1.023,0.108c-0.625,0-1.199-0.094-1.725-0.282c-0.524-0.189-0.974-0.451-1.347-0.787 c-0.375-0.335-0.667-0.73-0.878-1.186c-0.213-0.455-0.319-0.947-0.319-1.48c0-0.671,0.127-1.265,0.382-1.781 c0.254-0.517,0.625-0.948,1.11-1.295c0.486-0.348,1.082-0.61,1.787-0.793c0.706-0.181,1.509-0.271,2.411-0.271h1.77v-0.821 c0-0.648-0.181-1.167-0.543-1.557c-0.363-0.389-0.914-0.584-1.653-0.584c-0.333,0-0.632,0.045-0.903,0.133 c-0.27,0.089-0.5,0.209-0.689,0.359c-0.188,0.149-0.335,0.329-0.438,0.537c-0.105,0.208-0.157,0.433-0.157,0.671h-2.81 c0-0.493,0.121-0.97,0.363-1.429c0.243-0.459,0.588-0.866,1.036-1.226c0.447-0.358,0.99-0.646,1.625-0.862 c0.637-0.215,1.349-0.323,2.135-0.323c0.7,0,1.348,0.092,1.942,0.271c0.594,0.182,1.107,0.452,1.539,0.81 c0.433,0.358,0.768,0.806,1.006,1.342c0.24,0.537,0.359,1.163,0.359,1.88v5.552c0,1.126,0.159,2.025,0.475,2.695v0.196H70.965z M67.876,26.517c0.324,0,0.627-0.042,0.908-0.127s0.535-0.197,0.764-0.335c0.227-0.139,0.426-0.299,0.596-0.48 c0.168-0.182,0.303-0.365,0.403-0.55v-2.358h-1.515c-1.041,0-1.824,0.181-2.348,0.543s-0.786,0.875-0.786,1.539 c0,0.254,0.043,0.489,0.127,0.704c0.084,0.217,0.213,0.403,0.381,0.562c0.17,0.158,0.376,0.282,0.619,0.371 C67.269,26.473,67.552,26.517,67.876,26.517z"/>
      <path fill="#FFFFFF" d="M75.776,22.191c0-0.948,0.115-1.816,0.341-2.603c0.227-0.787,0.556-1.461,0.983-2.024 c0.428-0.563,0.947-0.998,1.557-1.308c0.608-0.308,1.294-0.462,2.058-0.462c0.694,0,1.304,0.119,1.833,0.359 c0.528,0.238,0.99,0.581,1.382,1.028v-6.408h2.811v17.767h-2.544l-0.14-1.295c-0.4,0.484-0.876,0.861-1.427,1.128 c-0.551,0.265-1.198,0.397-1.938,0.397c-0.756,0-1.436-0.159-2.041-0.479c-0.605-0.32-1.12-0.761-1.544-1.324 c-0.424-0.562-0.752-1.231-0.983-2.007c-0.232-0.775-0.348-1.616-0.348-2.527V22.191z M78.587,22.434 c0,0.556,0.052,1.078,0.155,1.567c0.105,0.49,0.27,0.92,0.497,1.29c0.228,0.369,0.52,0.661,0.874,0.873 c0.354,0.212,0.786,0.317,1.296,0.317c0.632,0,1.15-0.141,1.555-0.421c0.405-0.282,0.728-0.653,0.966-1.116v-5.344 c-0.238-0.463-0.563-0.829-0.97-1.099c-0.41-0.271-0.918-0.404-1.528-0.404c-0.509,0-0.942,0.106-1.301,0.323 c-0.359,0.216-0.651,0.509-0.878,0.879c-0.229,0.37-0.396,0.804-0.503,1.301c-0.108,0.498-0.162,1.027-0.162,1.591V22.434z"/>
      <path fill="#FFFFFF" d="M89.679,12.776c0-0.433,0.137-0.79,0.41-1.076c0.273-0.286,0.666-0.428,1.174-0.428 c0.509,0,0.902,0.142,1.18,0.428c0.278,0.286,0.416,0.644,0.416,1.076c0,0.424-0.138,0.776-0.416,1.059 c-0.278,0.281-0.671,0.422-1.18,0.422c-0.508,0-0.901-0.141-1.174-0.422C89.816,13.553,89.679,13.2,89.679,12.776z M92.664,28.541 h-2.811V16.026h2.811V28.541z"/>
    </g>
    <g>
      <path fill="#FFFFFF" d="M100.869,19.754h1.45v0.646h-1.45v2.35h-0.766v-2.35h-4.374v-0.435l4.304-6.514h0.835V19.754z M96.668,19.754h3.435v-5.313l-0.338,0.588L96.668,19.754z"/>
      <path fill="#FFFFFF" d="M104.765,13.451l3.429,8.206l3.442-8.206h1.048v9.298h-0.787v-4.062l0.065-4.138l-3.463,8.199h-0.606 l-3.448-8.167l0.063,4.105v4.062h-0.784v-9.298H104.765z"/>
      <path fill="#FFFFFF" d="M119.223,22.749c-0.043-0.119-0.075-0.265-0.099-0.437c-0.023-0.173-0.04-0.349-0.047-0.527 c-0.116,0.148-0.251,0.289-0.41,0.421c-0.157,0.133-0.333,0.247-0.529,0.346c-0.197,0.098-0.411,0.176-0.645,0.235 c-0.235,0.06-0.488,0.09-0.761,0.09c-0.336,0-0.642-0.049-0.917-0.146c-0.275-0.099-0.508-0.234-0.702-0.412 c-0.193-0.177-0.344-0.385-0.451-0.622c-0.106-0.239-0.159-0.498-0.159-0.779c0-0.336,0.071-0.64,0.217-0.911 c0.145-0.269,0.353-0.5,0.626-0.688c0.271-0.19,0.604-0.334,0.993-0.435c0.39-0.1,0.828-0.15,1.312-0.15h1.418v-0.784 c0-0.494-0.153-0.883-0.458-1.167c-0.303-0.281-0.748-0.425-1.331-0.425c-0.269,0-0.515,0.037-0.742,0.108 c-0.226,0.073-0.42,0.174-0.583,0.301c-0.165,0.128-0.292,0.275-0.384,0.444c-0.09,0.168-0.136,0.348-0.136,0.539l-0.768-0.007 c0-0.259,0.065-0.511,0.192-0.753c0.127-0.243,0.308-0.459,0.54-0.647c0.232-0.189,0.51-0.342,0.837-0.457 c0.326-0.116,0.686-0.173,1.082-0.173c0.367,0,0.704,0.047,1.012,0.141c0.309,0.093,0.575,0.234,0.795,0.421 c0.221,0.188,0.394,0.422,0.518,0.703c0.123,0.28,0.185,0.608,0.185,0.983v3.347c0,0.119,0.004,0.242,0.012,0.37 c0.01,0.127,0.022,0.251,0.042,0.37c0.02,0.12,0.043,0.232,0.068,0.342c0.025,0.108,0.054,0.203,0.089,0.284v0.076H119.223z M116.821,22.2c0.278,0,0.534-0.035,0.771-0.105c0.236-0.07,0.449-0.167,0.641-0.291c0.192-0.123,0.357-0.267,0.499-0.431 c0.14-0.163,0.252-0.341,0.338-0.533v-1.52h-1.311c-0.39,0-0.742,0.035-1.05,0.105c-0.308,0.069-0.57,0.171-0.783,0.303 c-0.213,0.132-0.375,0.293-0.488,0.482c-0.113,0.189-0.17,0.403-0.17,0.643c0,0.188,0.036,0.363,0.109,0.526 c0.071,0.163,0.175,0.307,0.31,0.428c0.134,0.121,0.297,0.217,0.488,0.287C116.368,22.165,116.583,22.2,116.821,22.2z"/>
      <path fill="#FFFFFF" d="M123.055,14.071v1.769h1.431v0.625h-1.431v4.605c0,0.242,0.024,0.438,0.073,0.584 c0.049,0.146,0.116,0.262,0.198,0.346c0.083,0.082,0.178,0.137,0.288,0.165c0.108,0.028,0.223,0.041,0.341,0.041 c0.114,0,0.226-0.007,0.332-0.021s0.202-0.028,0.288-0.042l0.032,0.626c-0.094,0.034-0.216,0.062-0.367,0.08 c-0.15,0.02-0.301,0.028-0.451,0.028c-0.216,0-0.418-0.028-0.604-0.087c-0.184-0.057-0.343-0.155-0.475-0.296 s-0.235-0.326-0.31-0.559c-0.075-0.231-0.113-0.521-0.113-0.865v-4.605h-1.27V15.84h1.27v-1.769H123.055z"/>
    </g>
  </g>
</svg>
