{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card bg-light">
  <div class="card-body">
    {% if client %}
      <p>
        <i class="fa-solid fa-circle-info"></i>
        {% trans %}
          A new OAuth2 application has been registered. Please keep the client secret somewhere safe as you will not be
          able to access it again.
        {% endtrans %}
      </p>
      <div class="row">
        <div class="col-lg-5 mb-2 mb-lg-0">
          <strong>{% trans %}Client ID{% endtrans %}</strong>
          <div class="input-group input-group-sm">
            <input class="form-control" readonly="true" value="{{ client.client_id }}">
            <div class="input-group-append">
              <clipboard-button content="{{ client.client_id }}" class="input-group-text"></clipboard-button>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <strong>{% trans %}Client secret{% endtrans %}</strong>
          <div class="input-group input-group-sm">
            <input class="form-control" readonly="true" value="{{ client_secret }}">
            <div class="input-group-append">
              <clipboard-button content="{{ client_secret }}" class="input-group-text"></clipboard-button>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      {% set help_url = '<a class="text-primary" target="_blank" rel="noopener noreferrer" href="{}">'
                        '<strong>{}</strong>'
                        '</a>'
                        .format(url_for("main.help", _anchor="settings"), _("Help")) %}

      <i class="fa-solid fa-circle-info"></i>
      {% trans help=help_url | safe %}
        Applications can be used to integrate another service with the HTTP API that Kadi4Mat provides. Please see the
        {{ help }} page for more information.
      {% endtrans %}
    {% endif %}
  </div>
</div>
<hr>
<submission-form>
  {{ render_csrf() }}

  <div class="row">
    <text-field class="col-lg" :field="{{ form.client_name }}"></text-field>
    <text-field class="col-lg" :field="{{ form.client_uri }}"></text-field>
  </div>
  <textarea-field :field="{{ form.redirect_uris }}" :rows="3"></textarea-field>
  <scopes-field :field="{{ form.scope }}" :scopes="kadi.context.scopes"></scopes-field>
  <submit-field :field="{{ form.submit }}"></submit-field>
</submission-form>
