{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "accounts/view_user_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("accounts.view_resources", id=user.id), title=title %}
{% endblock %}

{% block content %}
  {% set is_current = user == current_user %}

  <div class="card">
    {% include "accounts/snippets/view_user_menu.html" %}

    <nav-tabs :tabs="['records', 'collections', 'templates', 'groups'{% if is_current %}, 'statistics'{% endif %}]">
      <template #records-head>
        {% trans %}Records{% endtrans %}
      </template>
      <template #records-body>
        {% if is_current %}
          <resource-view title="{% trans %}Favorite records{% endtrans %}"
                         placeholder="{% trans %}No records.{% endtrans %}"
                         endpoint="{{ url_for('api.get_favorite_resources', resource_type='record') }}">
          </resource-view>
        {% else %}
          <resource-view title="{% trans %}Records shared with this user{% endtrans %}"
                         placeholder="{% trans %}No records.{% endtrans %}"
                         endpoint="{{ url_for('api.get_user_records', id=user.id, shared=True) }}">
          </resource-view>
        {% endif %}
        <hr>
        <resource-view title="{% trans %}Created records{% endtrans %}"
                       placeholder="{% trans %}No records.{% endtrans %}"
                       endpoint="{{ url_for('api.get_user_records', id=user.id) }}">
          {% snippet "accounts/snippets/advanced_search.html", endpoint="records.records", user=user %}
        </resource-view>
      </template>

      <template #collections-head>
        {% trans %}Collections{% endtrans %}
      </template>
      <template #collections-body>
        {% if is_current %}
          <resource-view title="{% trans %}Favorite collections{% endtrans %}"
                         placeholder="{% trans %}No collections.{% endtrans %}"
                         endpoint="{{ url_for('api.get_favorite_resources', resource_type='collection') }}">
          </resource-view>
        {% else %}
          <resource-view title="{% trans %}Collections shared with this user{% endtrans %}"
                         placeholder="{% trans %}No collections.{% endtrans %}"
                         endpoint="{{ url_for('api.get_user_collections', id=user.id, shared=True) }}">
          </resource-view>
        {% endif %}
        <hr>
        <resource-view title="{% trans %}Created collections{% endtrans %}"
                       placeholder="{% trans %}No collections.{% endtrans %}"
                       endpoint="{{ url_for('api.get_user_collections', id=user.id) }}">
          {% snippet "accounts/snippets/advanced_search.html", endpoint="collections.collections", user=user %}
        </resource-view>
      </template>

      <template #templates-head>
        {% trans %}Templates{% endtrans %}
      </template>
      <template #templates-body>
        {% if is_current %}
          <resource-view title="{% trans %}Favorite templates{% endtrans %}"
                         placeholder="{% trans %}No templates.{% endtrans %}"
                         endpoint="{{ url_for('api.get_favorite_resources', resource_type='template') }}">
          </resource-view>
        {% else %}
          <resource-view title="{% trans %}Templates shared with this user{% endtrans %}"
                         placeholder="{% trans %}No templates.{% endtrans %}"
                         endpoint="{{ url_for('api.get_user_templates', id=user.id, shared=True) }}">
          </resource-view>
        {% endif %}
        <hr>
        <resource-view title="{% trans %}Created templates{% endtrans %}"
                       placeholder="{% trans %}No templates.{% endtrans %}"
                       endpoint="{{ url_for('api.get_user_templates', id=user.id) }}">
          {% snippet "accounts/snippets/advanced_search.html", endpoint="templates.templates", user=user %}
        </resource-view>
      </template>

      <template #groups-head>
        {% trans %}Groups{% endtrans %}
      </template>
      <template #groups-body>
        {% if is_current %}
          <resource-view title="{% trans %}Favorite groups{% endtrans %}"
                         placeholder="{% trans %}No groups.{% endtrans %}"
                         endpoint="{{ url_for('api.get_favorite_resources', resource_type='group') }}">
          </resource-view>
        {% else %}
          <resource-view title="{% trans %}Common groups{% endtrans %}"
                         placeholder="{% trans %}No groups.{% endtrans %}"
                         endpoint="{{ url_for('api.get_user_groups', id=user.id, common=True) }}">
          </resource-view>
        {% endif %}
        <hr>
        <resource-view title="{% trans %}Created groups{% endtrans %}"
                       placeholder="{% trans %}No groups.{% endtrans %}"
                       endpoint="{{ url_for('api.get_user_groups', id=user.id) }}">
          {% snippet "accounts/snippets/advanced_search.html", endpoint="groups.groups", user=user %}
        </resource-view>
      </template>

      {% if is_current %}
        <template #statistics-head>
          <i class="fa-solid fa-circle-info"></i> {% trans %}Statistics{% endtrans %}
        </template>
        <template #statistics-body>
          <div class="mb-2">
            <strong>{% trans %}My created resources{% endtrans %}</strong>
          </div>
          <ul class="list-group">
            {% snippet "snippets/stat.html", title=_("Amount of active records"), value=stats["num_records"] %}
            {% snippet "snippets/stat.html", title=_("Amount of active collections"), value=stats["num_collections"] %}
            {% snippet "snippets/stat.html", title=_("Amount of active templates"), value=stats["num_templates"] %}
            {% snippet "snippets/stat.html", title=_("Amount of active groups"), value=stats["num_groups"] %}
            {% snippet "snippets/stat.html", title=_("Amount of active files"), value=stats["num_files"] %}
            {% snippet "snippets/stat.html", title=_("Size of locally stored files"), value=stats["local_file_size"] %}
          </ul>
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}
